/*
    Archivo de configuración de estilos para waybar
    Colores pricinpales
        Primary: #181818
        Secondary: #00bfaf
        Three: 
        white: #eeeeee
*/

window#waybar {
    background-color: #181818;
    
}

#custom-arch {
    /* background-color: #eeeeee; */
    color: #00BFAF;
    font-size: 30px;
}

#custom-power {
    /* background-color: #eeeeee; */
    color: #eeeeee;
    font-size: 20px;
}