/*
    Archivo de configuración de estilos para waybar
    Colores pricinpales
        Primary: #1a1a1a
        Secondary: #00bfaf
        Three: 
*/

*{
    background-color: #1a1a1a;
    padding: 1px;
}